<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <title>Home</title>
  </head>
  <body>
    <div class="content"></div>

    <script src="./js/bootstrap-js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js" type="module"></script>
  </body>
</html>
